---
import Layout from '../layouts/Basic.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="content-header">
        <h2>
            <!-- Das sich ändernde Wort (wir starten mit dem ersten) -->
            <span class="rotating-word" id="rotating-text">Web</span>
            <!-- Das feste Wort -->
            <span class="fixed-word">Designer</span>
        </h2>
        <h1>It's me Kasimir</h1>
    </div>
</Layout>
