---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../assets/style.css'

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<script src="./assets/script.js" defer></script>
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<Header/>


	<main>
		<slot/>
	</main>


	<Footer/>
</html>

<style>
	
</style>
